.App {
  margin: auto;
}

a,
.red {
  cursor: pointer;
  color: red;
  font-weight: 600;
}

nav,
h2,
h3 {
  display: inline-block;
}

.hidden {
  display: none;
}

.active,
.type {
  display: inline-block;
  color: purple;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 5px;
}

.mult {
  color: rgb(17, 0, 200);
  font-style: italic;
  letter-spacing: 7px;
}

button {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: clamp(1rem, 4vmin, 2rem);
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-radius: 25px;
  border: 10px solid;
  border-top: none;
  border-bottom: none;
  border-color: rgb(246, 255, 0);
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  text-align: center;
  align-self: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: clamp(1rem, 4vmin, 2rem);
}
