* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  font-size: clamp(2.5rem, 4vmin, 3rem);
  background-image: url("./sj-objio-XFWiZTa2Ub0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
